* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

body {
    font-family: "Open Sans", "Arial", serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}

a {
    text-decoration: none;
    list-style: none;
    color: #222;
}

/* Header */

.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo-link {
    display: flex;
    justify-content: center;align-items: center;
}

.site-logo {
    background-color: none;
    margin-right: 16px;
}

.site-title {
    color: #222;
    font-size: 24px;
    font-weight: 600;
}

.site-title:hover {
    color:#de2e54;
    opacity: 0.8;
}

.site-title:active {
    opacity: 0.6;
}

.nav-list {
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 32px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color:#de2e54;
    opacity: 0.8;
}

.nav-link:active {
    opacity: 0.6;
}

.btn {
    border: solid 2px #de2e54;
    border-radius: 8px;
    background-color: #de2e54;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 12px 24px;
}

.btn:hover {
    background-color: #fff;
    border: solid 2px #de2e54;
    color:#de2e54;
    opacity: 0.8;
}

.btn:active {
    border: solid 2px #de2e54;
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}


/* Hero */
.hero {
    background-color: #0eb4c1;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    margin-top: 120px;
    margin-bottom: 120px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-text {
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 18px;
    color: #fff;
}

.hero-content .btn:hover {
    border: solid 2px #de2e54;
    background-color: #de2e54;
    color: #fff;
    opacity: 0.8;
}

.hero-content .btn:active {
    opacity: 0.6;
}

.hero-container img {
    display: block;
}

.hero-img {
    display: block;
    padding-top: 29px;
}


/* Service */

.service-blog {
    width: 864px;
    margin-left: auto;
    margin-right: auto;
}

.service-heading {
    text-align: center;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 56px;
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame img {
    display: block;
}

.service-img {
    display: block;
}

.frame-content {
    align-items: center;
    margin-left: 64px;
    height: 149px;
}

.frame {
    margin-top: 0;
    margin-bottom: 80px;
}

.frame img {
    display: block;
}


.service-img {
    display: block;
    align-items: center;
    border-radius: 24px;
    border: solid 1px #ebe9e9;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.frame-content-title {
    margin-top: 0;
    margin-bottom: 24px;
}

.frame-content-text {
    margin-top: 0;
    margin-bottom: 0;
}

.service-blog .btn {
    margin-left: 340px;
}

/* Footer */
footer {
    background-color: #0eb4c1;
    padding-top: 64px;
    margin-top: 120px;
}

.footer-heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.footer-center {
    text-align: center;
}

.footer-center .btn {
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 64px;
    background-color: #0eb4c1;
    color: #fff;
    border: solid 2px #fff;
}

.footer-center .btn:hover {
    border: solid 2px #de2e54;
    background-color: #de2e54;
    color: #fff;
}

.footer-center .btn:active {
    opacity: 0.6;
}

.footer-center .btn:last-child {
    margin-right: 0;
}

.footer-bottom {
    background-color: #222;
    margin: 0;
    margin-top: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-link {
    display: flex;
    justify-content: center;align-items: center;
}

.footer-logo {
    background-color: none;
    margin-right: 16px;
}

.footer-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.footer-title:hover {
    color:#de2e54;
}

.footer-title:active {
    color: #fff;
    opacity: 0.6;
}

.footer-nav .nav-link {
    color: #fff;
}

.footer-nav .nav-link:hover {
    color:#de2e54;
}

.footer-nav .nav-link:active {
    color:#fff;
    opacity: 0.6;
}
